<footer class="main-footer position-relative fixed-bottom">

    <div class="container flex-wrap">
        <div class="row">
            <nav class="col=12">
                <ul class="left-navbar">
                    <li><a href="#"><i class="fab fa-facebook-square"></i></a></li>
                    <li><a href="#"><i class="fab fa-instagram-square"></i></i></a></li>
                    <li><a href="#"><i class="fab fa-twitter-square"></i></a></li>
                    <li><a href="#"><i class="fab fa-snapchat-square"></i></a></li>
                    <li><a href="#" class="contactHelp">Contacto <i class="fas fa-envelope"></i></a></li>
                    <li><a href="#" class="contactHelp">Ayuda <i class="fas fa-question-circle"></i></a></li>
                </ul>
                <p>Copyright? © 2020-2020 MercadoMeme S.R.L.</p>
            </nav>

        </div>

    </div>

</footer>