<footer class="main-footer position-relative fixed-bottom">

    <div class="container flex-wrap">
        <div class="row">
            <nav class="col=12 flex-grow-1 d-flex justify-content-start align-items-center flex-wrap">
                <ul class="col-xs-12 col-sm-12 col-md-4 col-lg-2 col-xl-2 left-navbar m-0 d-flex justify-content-center">
                    <li><a href="#"><i class="fab fa-facebook-square"></i></a></li>
                    <li><a href="#"><i class="fab fa-instagram-square"></i></i></a></li>
                    <li><a href="#"><i class="fab fa-twitter-square"></i></a></li>
                    <li><a href="#"><i class="fab fa-snapchat-square"></i></a></li>
                </ul>
                <ul class="col-xs-12 col-sm-12 col-md-8 col-lg-5 col-xl-5 flex-grow-1 left-navbar m-0 d-flex justify-content-center justify-content-md-end justify-content-lg-start">
                    <li><a href="#" class="text-decoration-none ml-2">Contacto <i class="fas fa-envelope"></i></a></li>
                    <li><a href="#" class="text-decoration-none ml-2">Ayuda <i class="fas fa-question-circle"></i></a></li>
                </ul>
                <p class="col-xs-12 col-sm-12 col-md-12 col-lg-5 col-xl-5 justify-self-end align-self-end">Copyright? © 2020-2020 MercadoMeme S.R.L.</p>
            </nav>
        </div>
    </div>
</footer>


