<header class="main-header position-relative fixed-top">

    <div class="container flex-wrap">
        <div class="row">
            <div class="col=2">
                <a class="align-self-center" href="/">
                    <img src="../../images/iconoimagen.png" alt="logo de mercadomeme">
                </a>
            </div>

            <nav class="col=10 flex-grow-1 d-flex justify-content-between align-items-center flex-wrap">
                <ul class="left-navbar d-flex justify-content-between m-0">
                    <li><a class="text-decoration-none" href="/products">Productos</a></li>
                    <li><a class="text-decoration-none" href="/memes">Memes</a></li>
                </ul>
                <ul class="right-navbar d-flex justify-content-between m-0">
                    <li><a class="text-decoration-none" href="#">Registrarme</a></li>
                    <li><a class="text-decoration-none" href="#">Login</a></li>
                    <li><a class="text-decoration-none" href="#"><i class="fas fa-shopping-cart"></i></a></li>
                    <li><a class="text-decoration-none" href="#"><i class="fas fa-question-circle"></i></a></li>
                </ul>
            </nav>

        </div>

    </div>

</header>