<header>

    <div class="container flex-wrap">
        <div class="row">
            <div class="col=2">
                <a href="/">
                    <img src="../../images/iconoimagen.png" alt="logo de mercadomeme">
                </a>
            </div>

            <nav class="col=10">
                <ul class="left-navbar">
                    <li><a href="/products">Productos</a></li>
                    <li><a href="/memes">Memes</a></li>
                </ul>
                <ul class="right-navbar">
                    <li><a href="#">Registrarme</a></li>
                    <li><a href="#">Login</a></li>
                    <li><a href="#"><i class="fas fa-shopping-cart"></i></a></li>
                    <li><a href="#"><i class="fas fa-question-circle"></i></a></li>
                </ul>
            </nav>

        </div>

    </div>

</header>