/*=====IMPORTS====*/
@import 'partials/styleIndex.css';
@import 'partials/styleHeader.css';
@import 'partials/styleFooter.css';

/*====VARIABLES=====*/
:root {
--colorOrange: #FCA86B;
}

/*====GENERAL=====*/

* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  font: 14px "Lato", Helvetica, Arial, sans-serif;
}

/*====HEADER=====*/



/*====BODY=====*/



/*====FOOTER=====*/

/*====MEDIAQUERIES=====*/