/*=====IMPORTS====*/

@import 'partials/styleUpload.css';
@import 'partials/styleIndex.css';
@import 'partials/styleHeader.css';
@import 'partials/styleFooter.css';
@import 'partials/styleProducts.css';
@import 'partials/styleRegister.css';
@import 'partials/styleCart.css';
@import 'partials/styleMemes.css';
@import 'partials/styleDetail.css';
@import 'partials/styleEdit.css';
@import 'partials/styleCreate.css';
@import 'partials/styleDelete.css';
@import 'partials/styleLogin.css';
@import 'partials/stylePurchaseSettings.css';
@import 'partials/styleUserProfile.css';

@import url('https://fonts.googleapis.com/css2?family=Bungee+Shade&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,800&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:ital,wght@0,300;0,700;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');



/*====VARIABLES=====*/

:root {
--colorOrange: #FCA86B;
--colorOrange2: #f9b233;
--colorWhite: #f2f2f2;
--colorGray: #e5e3e3;
--colorYellow1: #f5cb5c;
--colorYellow2: #ffd500;
--colorBlack: #242423;
--colorWarning: #ffc107;

}

/*====GENERAL=====*/

* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  font: 14px "Lato", Helvetica, Arial, sans-serif;
}

body
{
display: flex;
flex-direction: column;
  background-image: url(../images/wallpaper/BGmeme5.svg);
  margin: 0px auto;
  padding: 0px;
  min-height: 100vh;
  /* background-color: var(--colorWarning); */

}

div.container {
  flex-grow: 1;
}


