<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= Aqui el usuario hara la seleccion final %></h1>
    <button>avanzar</button>
  </body>
</html>