div.delete{
        max-width: 1200px;
        margin: 0 auto;
    }
    
    /*====FIRST COLUMN=====*/
    
    div.delete div.firstColumn div.dataBlock{
    background-color: var(--colorWhite);
    }
    
    div.delete div.firstColumn div.dataBlock form button{
        width: 49%;
        margin: 2px 0px;
    }
    
    div.delete div.firstColumn div.card{
        /* border: gray 1px solid; */
        background-color: var(--colorWhite);
    }
    
    div.delete div.firstColumn div.size{
        /* border: gray 1px solid; */
        background-color: var(--colorWhite);
    }
    
    div.delete div.firstColumn div.size h4{
        border-bottom: gray 1px dashed;
        font-size: 1.3rem;
    }
    
    div.delete div.firstColumn div.size div form div.check {
        width: 15%;
        margin-left: 10px;
    }
    div.delete div.firstColumn div.size div form div input {
        max-width: 30%;
        margin-right: 5px;
        margin-bottom: 5px;
    }
    div.delete div.firstColumn div.colors{
        /* border: gray 1px solid; */
        margin-bottom: 5px;
        background-color: var(--colorWhite);
    
    }
    div.delete div.firstColumn div.colors h4{
        border-bottom: gray 1px dashed;
        font-size: 1.3rem;
    }
    
    div.delete div.firstColumn div.colors form div {
        width: 26%;
    }
    div.delete div.firstColumn div.anotherParameters{
        /* border: gray 1px solid; */
        background-color: var(--colorWhite);
    
    }
    div.delete div.firstColumn div.anotherParameters h4{
        border-bottom: gray 1px dashed;
        font-size: 1.3rem;
    }
    
    div.delete div.firstColumn div.anotherParameters form div {
        width: 35%;
    }
    
    /*====SECOND COLUMN=====*/
    
    div.delete div.secondColumn div.image{
        width: 50%;
        position: relative;
    }
    
    div.delete div.secondColumn div.image div{
        position: absolute;
        right: 25px;
        bottom: 25px;
    }
    div.delete div.secondColumn div.image div i{
        font-size: 2rem;
        color: gray;
    }
    div.delete div.secondColumn div.image h5{
        font-size: 1.1rem;
    }
    
    
    
    /*====MEDIA QUERIES=====*/
    
    @media (min-width: 768px) {
    
        div.delete div.secondColumn div.image div i{
            font-size: 1.5rem;
        }
        div.delete div.secondColumn div.image div{
            position: absolute;
            right: 10px;
            bottom: 10px;
        }
    }