

div.products div.product-selector {
    background: var(--colorWhite);
}

div.products .product-title {
    font-size: 2.5rem;
    -webkit-text-stroke: 1px white;
   color: black;
   font-family: 'Bungee';

}
div.products div.dropdown img {
    height: 100px;
}

div.products div.dropdown div.long {
    width: 280px;
}

div.products div.dropdown div.long a{
    display: inline-block;
    text-decoration: none;
}

div.products .main-product {
    background: var(--colorWhite);

}
