div.mainRegister {
    max-width: 1200px;
    margin: 0 auto;
}


div.mainRegister img.captcha{
height: 75px;
}

div.mainRegister img.previewAvatar{
    border-radius: 50%;
    }

div.mainRegister div.containerColumn{
    width: 45%;
    background-color: var(--colorWhite);    
}

div.mainRegister div.containerColumn div.containerBlock a.registered {
    color: var(--colorOrange);
}

div.mainRegister button.userImg {
    transform: translate(50%, 50%) rotate(0deg);
    position: absolute;
    bottom: 15%;
    right: 35%;
    opacity: 0.8;
    border: 2px solid var(--colorGray);
}

div.mainRegister a.showPasswordStyles {
    transform: translate(50%, 50%) rotate(0deg);
    position: absolute;
    bottom: 58%;
    right: 5%;
    z-index: 10;
    text-decoration: none;
    color: var(--colorBlack);
}


/*======MEDIAQUERIES======*/

@media (max-width: 1020px) {
    div.mainRegister div.containerColumn{
        width: 65%;
    }
}
@media (max-width: 600px) {
    div.mainRegister div.containerColumn{
        width: 85%;
    }
}
@media (max-width: 425px) {
    div.mainRegister div.containerColumn{
        width: 100%;
    }
}