
div.mainRegister {
    max-width: 1200px;
    margin: 0 auto;
}


div.mainRegister img.captcha{
height: 75px;
}

div.mainRegister img.previewAvatar{
    border-radius: 50%;
    }

div.mainRegister div.containerColumn{
    width: 45%;
    background-color: var(--colorWhite);    
}

div.mainRegister div.containerColumn div.containerBlock a{
    color: var(--colorOrange);
}


/*======MEDIAQUERIES======*/

@media (max-width: 1020px) {
    div.mainRegister div.containerColumn{
        width: 65%;
    }
}
@media (max-width: 600px) {
    div.mainRegister div.containerColumn{
        width: 85%;
    }
}
@media (max-width: 425px) {
    div.mainRegister div.containerColumn{
        width: 100%;
    }
}