div.upload{
    max-width: 1200px;
    margin: 0 auto;
}

/*====FIRST COLUMN=====*/

div.upload div.onlyColumn div.searchBlock{
background-color: var(--colorWhite);
}
div.upload div.onlyColumn div.decisionBlock{
background-color: var(--colorWhite);
}
div.upload div.onlyColumn div.searchBlock form button{
    width: 49%;
    margin: 2px 0px;
}
div.upload div.onlyColumn div.searchBlock form select{
background-color: white;
}
div.upload div.onlyColumn div.decisionBlock form select{
    background-color: white;
    }
div.upload div.onlyColumn div.decisionBlock form button{
    width: 49%;
    margin: 2px 0px;
}
