div.detail div.card {
    background-color: var(--colorWhite);
    border-radius: 15px;
}

div.detail div.modal-content {
    background-color: var(--colorWhite);
    border-radius: 15px;
}

div.detail div.modal-body {
    background-color: White;
}


div.detail h5.modal-title {
    font-family: "Open sans";
    font-style: italic;
    font-weight: bolder;
}

div.detail #memePreview {
position: absolute;
transform: translate(-50%, -50%) rotate(0deg);
left:50%;
top:50%;
width: 50%;
height: 50%;

}


div.detail div.banner h3{
    font-family: "Open sans";
    font-style: italic;
    font-weight: bolder;
    border-bottom: 2px solid
}  

div.detail img.memeLibrary{
    height: 15vh;
} 

div.detail div.banner h3 i{
    font-size: large;
}  

div.detail img.meme{
    height: 30vh;
}  

div.detail img.product{
    height: 30vh;
}  

div.detail img.productMeme{
    height: 30vh;
}  


@media (min-width: 992px) {
    div.detail img.meme{
        height: 30vh;
    }  
    
    div.detail img.product{
        height: 30vh;
    }  
    
    div.detail img.productMeme{
        height: 40vh;
    }  

    div.detail img.memeLibrary{
        height: 10vh;
    } 
    
    
}
