
div.mainLogin {
    max-width: 1200px;
    margin: 0 auto;

}

div.mainLogin div.containerColumn{
    width: 30%;
    background-color: var(--colorWhite);    
}

div.mainLogin div.containerColumn div.containerBlock a.registered {
    color: var(--colorOrange);
}

div.mainLogin a.showPassword {
    transform: translate(50%, 50%) rotate(0deg);
    position: absolute;
    bottom: 58%;
    right: 5%;
    z-index: 10;
    text-decoration: none;
    color: var(--colorBlack);
}



/*======MEDIAQUERIES======*/

@media (max-width: 1020px) {
    div.mainLogin div.containerColumn{
        width: 60%;
    }
}
@media (max-width: 600px) {
    div.mainLogin div.containerColumn{
        width: 80%;
    }
}
@media (max-width: 425px) {
    div.mainLogin div.containerColumn{
        width: 100%;
    }
}