div.cartItem {
    background-color: var(--colorWhite);
}

.cartSettings{
    border-top:  #e5e3e360 solid 2px;
}

.cartSummary{
    border-top:  #e5e3e360 solid 2px;
}

.mainCart{
    width: 100%;
}



/*======MEDIAQUERIES======*/

@media (min-width: 768px) {
    .cartSettings{
        border-top: 0;
        border-left:  #e5e3e360 solid 2px;
    }

    .cartSummary{
        border-top: 0;
        border-left:  #e5e3e360 solid 2px;
    }

    .mainCart{
        width: 90%;
    }
}

@media (min-width: 992px) {
    .mainCart{
        width: 80%;
    }
}

@media (min-width: 1200px) {
    .mainCart{
        width: 75%;
    }
}