
div.container{
    max-width: 1200px;
    /* border:var(--colorOrange) solid 2px; */
    margin: 0 auto;
}

/*====FIRST COLUMN=====*/

div.firstColumn{
    /* border:blue 2px solid; */
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
div.firstColumn div.firstBlock{
    /* border:red 2px solid; */
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
div.firstColumn div.firstBlock form{
    /* border:red 2px solid; */
    width: 100%;
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;
}
div.firstColumn div.firstBlock form button{
    width: 49%;
    margin: 2px 0px;

}
div.firstColumn div.firstBlock form div.productName{
    /* border:pink 2px solid; */
    width: 100%;
    margin: 0px 0px;

}
div.firstColumn div.firstBlock form div.productName input{
    /* border: green 2px solid; */
    width: 100%;
}
div.firstColumn div.firstBlock form div{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}
div.firstColumn div.firstBlock form div select{
    /* border:green 2px solid;
    background-color: red; */
   flex-grow: 1; 
    margin: 5px 0px;
    padding: 0px;
}
div.firstColumn div.firstBlock form div input{
    /* border:pink 2px solid; */
    width: 25%;
    margin: 5px 0px;
}
