/*=====IMPORTS====*/


header.main-header {
    background: var(--colorWarning);
    padding: 5px 0;
    display: flex;
    flex-wrap: wrap;
    border-bottom: var(--colorBlack) solid 2px;
    margin-bottom: 10px;
}

header div div a img {
    height: 40px;
    /* align-self: center; */
}


header div div nav ul li{
    text-decoration: none;
    list-style: none;
    padding: 7px;
    margin-right: 5px;
}

header div div nav ul li:last-child{
    margin-right: 0px;
}

header div div nav ul li a{
    font-size: 1.4rem;
    color: var(--colorBlack);
    text-decoration: none;
    font-family: "Staatliches";
}

span#myButtonCart{
    position: absolute;
    top: -10px;
    right: -8px;
    background-color: red;
    color: white;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1030;
}




header div div nav ul li a i{
    font-size: 1.7rem;
    color: var(--colorBlack);
}
