body {
    margin: 0px auto;
    /* agrego un bg red para ver que funcione el css */
    /* background-color: red; */
  }
  div {
    border:var(--colorOrange) solid 2px; */
  }

div .productsandmemes {
  display: flex;
  justify-content:center;
}

  div a img  {
    height: 50%;
    justify-content: center;
  
  }

  div a img h2 {}

  /* a {
    color: green;
  } */

  div.row div.col-6 a