div.memes{
    max-width: 1200px;
    margin: 0 auto;
}

/*======NAV BAR===*/

div.memes nav.memesNav {
background-color: var(--colorWhite) ;
}

div.memes nav.memesNav ul li{
    text-decoration: none;
    list-style: none;
    padding-bottom: 5px;
    margin: 0px 5px;
}
div.memes nav.memesNav ul li a{
    font-size: 1rem;
    color: var(--colorBlack);
    text-decoration: none;
}

div.memes nav.memesNav ul li a i{
    font-size: 1rem;
    color: var(--colorBlack);
}

/*====PRODUCT SELECTOR=====*/

div.memes div.product-selector {
    background-color: var(--colorWhite);
}

div.memes div.product-selector img {
    height: 15vh;
}

div.memes i.arrowLeft{
    font-size: 4rem;
    transform: translate(-50%, -50%) rotate(0deg);
    color: var(--colorBlack);
    opacity: 0.85;
    z-index: 50;
    position: absolute;
    left:0;
    top:50%
}

div.memes i.arrowRight{
    font-size: 4rem;
    transform: translate(+50%, -50%) rotate(0deg);
    color: var(--colorBlack);
    opacity: 0.85;
    z-index: 50;
    position: absolute;
    right:0;
    top:50%
}


div.memes img.memeCategory{

    border-radius: 10px;
}

div.memes img#userMemeLibrary{

    border-radius: 10px;
}


/*====MEME EDITOR=====*/

div.memes div.memeEditorImage {
    background-color: var(--colorWhite);
}
div.memes img.memeToComplete {
    position: relative;
    max-height: 60vh;
}

div.memes div.memeToComplete {
    position: relative;
}

div.memes p.upperText{
    font-family: Impact;
    font-size: 2.5rem;
    position: absolute;
    text-align: center;
    top: 15%;
    left:50%;
    word-spacing: 2px;
    color: black;
    text-shadow: 2px 2px 2px white;
    transform: translate(-50%, -50%) rotate(0deg);
    text-transform: uppercase;
    }

div.memes p.lowerText{
    font-family: Impact;
    font-size: 2.5rem;
    position: absolute;
    text-align: center;
    top: 75%;
    left:50%;
    word-spacing: 2px;
    color: black;
    text-shadow: 2px 2px 2px white;
    transform: translate(-50%, -50%);
    text-transform: uppercase;

}

.dark {
    color: white !important;
    text-shadow: 2px 2px 2px black !important;
}


/*====MEMES EXAMPLES=====*/

div.memes div.arrayMemesExample{
    background-color: var(--colorWhite);
}



div.memes div.arrayMemesExample img{
    height: 12vh;
}


/*====TEXT EDITOR=====*/

div.memes div.textEditor{
    background-color: var(--colorWhite);
}

div.memes div.dragscroll{
    overflow: auto;
    cursor: grab;
    cursor : -o-grab;
    cursor : -moz-grab;
    cursor : -webkit-grab;
}

.dragscroll::-webkit-scrollbar {
    display: none;
  }

  .dragscroll {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }

/*====MEME LIBRARY=====*/ 

div.memes div.memeLibrary{

    background-color: var(--colorWhite);

}
div.memes div.memeLibrary img{
    background-color: var(--colorWhite);
    height: 12vh;
}

div.memes h5.title {
    font-family: "Open sans";
    font-style: italic;
    font-weight: bolder;
}


/*====MEDIA QUERIES=====*/

@media (max-width: 767px) {
    div.memes div.memeLibrary{
        flex-direction: row;
        flex-wrap: wrap;
    }

    div.memes div.memeLibrary h6{
       font-size: 1.5rem;     
    }
    div.memes div.memeLibrary img{
        background-color: var(--colorWhite);
        height: 15vh;
    }
    div.memes div.arrayMemesExample img{
        height: 15vh;
    }
    div.memes i.arrowLeft{

        transform: translate(-0%, -50%) rotate(0deg);
    }
    
    div.memes i.arrowRight{
    
        transform: translate(+0%, -50%) rotate(0deg);
     

    }

}

@media (max-width: 767px) and (orientation: landscape) {

    div.memes div.memeLibrary img{
        background-color: var(--colorWhite);
        height: 25vh;
    }
    div.memes div.arrayMemesExample img{
        height: 25vh;
    }
    div.memes div.product-selector img {
        height: 25vh;
    }

}

