div.upload{
    max-width: 1200px;
    margin: 0 auto;
}

/*====FIRST COLUMN=====*/

div.upload div.firstColumn div.searchBlock{
background-color: var(--colorWhite);

}

div.upload div.firstColumn div.searchBlock form button{
    width: 49%;
    margin: 2px 0px;

}

div.upload div.firstColumn div.searchBlock form select{
background-color: white;

}

div.upload div.firstColumn div.firstBlock form select{
    background-color: white;
    
    }

div.upload div.firstColumn div.firstBlock form button{
    width: 49%;
    margin: 2px 0px;

}

div.upload div.firstColumn div.card{
    /* border: gray 1px solid; */
    background-color: var(--colorWhite);
}

div.upload div.firstColumn div.size{
    /* border: gray 1px solid; */
    background-color: var(--colorWhite);
}

div.upload div.firstColumn div.size h4{
    border-bottom: gray 1px dashed;
    font-size: 1.3rem;
}

div.upload div.firstColumn div.size div form div.check {
    width: 15%;
    margin-left: 10px;
}
div.upload div.firstColumn div.size div form div input {
    max-width: 30%;
    margin-right: 5px;
    margin-bottom: 5px;
}
div.upload div.firstColumn div.colors{
    /* border: gray 1px solid; */
    margin-bottom: 5px;
    background-color: var(--colorWhite);

}
div.upload div.firstColumn div.colors h4{
    border-bottom: gray 1px dashed;
    font-size: 1.3rem;
}

div.upload div.firstColumn div.colors form div {
    width: 26%;
}
div.upload div.firstColumn div.anotherParameters{
    /* border: gray 1px solid; */
    background-color: var(--colorWhite);

}
div.upload div.firstColumn div.anotherParameters h4{
    border-bottom: gray 1px dashed;
    font-size: 1.3rem;
}

div.upload div.firstColumn div.anotherParameters form div {
    width: 35%;
}


/*====SECOND COLUMN=====*/
div.upload div.secondColumn div.image{
    width: 50%;
    position: relative;
}

div.upload div.secondColumn div.image div{
    position: absolute;
    right: 25px;
    bottom: 25px;
}
div.upload div.secondColumn div.image div i{
    font-size: 2rem;
    color: gray;
}
div.upload div.secondColumn div.image h5{
    font-size: 1.25rem;
}

/*====THIRD COLUMN=====*/

div.upload div.secondColumn div.image h5{
    font-size: 1.1rem;
}

div.upload div.secondColumn div.image div{
    position: absolute;
    right: 25px;
    bottom: 25px;
}
div.upload div.secondColumn div.image div i{
font-size: 2rem;
color: gray;
}

/*====MEDIA QUERIES=====*/

@media (min-width: 768px) {

    div.upload div.secondColumn div.image div i{
        font-size: 1.5rem;
    }
    div.upload div.secondColumn div.image div{
        position: absolute;
        right: 10px;
        bottom: 10px;
    }
}