body {
    margin: 0px auto;
    padding: 0px;

  }

body.container {
    display: flex; 
  }

div.row div.productsType {
    border:var(--colorOrange) solid 2px;
  }

div ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

div ul li {}
div ul li a {}
div ul li a img { 

}
