div.memes{
    max-width: 1200px;
    margin: 0 auto;
}

/*======FIRST BANNER===*/

/*======NAV BAR===*/

div.memes nav.memesNav {
background-color: var(--colorWhite) ;
}

div.memes nav.memesNav ul li{
    text-decoration: none;
    list-style: none;
    padding-bottom: 5px;
    margin: 0px 5px;
}
div.memes nav.memesNav ul li a{
    font-size: 1rem;
    color: var(--colorBlack);
    text-decoration: none;
}

div.memes nav.memesNav ul li a i{
    font-size: 1rem;
    color: var(--colorBlack);
}

/*====PRODUCT SELECTOR=====*/

div.memes div.product-selector {
    background-color: var(--colorWhite);
}

/*====MEME EDITOR=====*/

div.memes div.memeEditorImage {
    background-color: var(--colorWhite);
}

/*====MEMES EXAMPLES=====*/

div.memes div.arrayMemesExample{
    background-color: var(--colorWhite);
}

/*====TEXT EDITOR=====*/

div.memes div.textEditor{
    background-color: var(--colorWhite);
}

/*====MEME LIBRARY=====*/ 

div.memes div.memeLibrary{
    flex-direction: column;
    background-color: var(--colorWhite);

}
div.memes div.memeLibrary img{
    width: 50%;
   
}

/*====MEDIA QUERIES=====*/

@media (max-width: 767px) {
    div.memes div.memeLibrary{
        flex-direction: row;
        flex-wrap: wrap;
    }
    div.memes div.memeLibrary img{
        width: 20%;     
    }
    div.memes div.memeLibrary h6{
       font-size: 1.5rem;     
    }
    div.memes div.arrayMemesExample div.thirdPack{
     display: none;
    }
    div.memes div.arrayMemesExample div.fourthPack{
    display: none;
    }
}

