

div.products div.product-selector {
    background: var(--colorWhite);
}

div.products figcaption.dropdown {
    background: white;
}

div.products .dropdown-menu{
    transform: translate3d(5px, 100px, 0px)!important;
}

div.products .product-title {
    font-size: 2.5rem;
    -webkit-text-stroke: 1px white;
   color: black;
   font-family: 'Bungee';

}

div.products h4.productName {
    font-family: "Open sans";
    font-style: italic;
    font-weight: bolder;
}
div.products div.dropdown img {
    height: 100px;
}

div.products div.dropdown div.long {
    width: 280px;
}

div.products div.dropdown div.long a{
    display: inline-block;
    text-decoration: none;
}

div.products .main-product {
    background: var(--colorWhite);

}

div.products div.main-product img.example{
height: 15vh;
}

div.products div.main-product img.main-product{
    height: 50vh;
    }

/*====MEDIA QUERIES=====*/

@media (min-width: 376px and max-width: 992px) {

    div.products div.main-product img.example{
        height: 20vh;
        }

}

@media (min-width: 992px) {

    div.products div.main-product img.main-product{
        height: 60vh;
        }
    div.products div.main-product img.example{
        height: 20vh;
        }

}

