div.detail div.card {
background-color: var(--colorWhite);
border-radius: 15px;
}

div.detail div.modal-body {
    background-color: var(--colorWhite);
    }


div.detail div.banner h3{
font-family: "Open sans";
border-bottom: 2px solid
}  

div.detail div.banner h3 i{
font-size: large;
}  

div.detail img.meme{
height: 40vh;
    }  

div.detail img.product{
height: 40vh;
    }  

