<!DOCTYPE html>
<html lang="es">

<%- include('partials/head') %>

<body>
    <%- include('partials/header') %>
    <div class="container login">
        <div class="row">
            <div class="firstColumn">
                <div class="firstBlock">
                    <form action="">
                        <h4>Logueate!</h4>
                        <div>
                            <input type="text" placeholder="Username">
                        </div>
                        <div>
                            <input type="password" placeholder="Contraseña">
                        </div>
                    </form>
                    <button class="btn btn-warning mt-3 col-12" type="submit">Login</button>
                    <a href="/"><h6>¿Ya estás registrado?</h6></a>
                </div>
            </div>
        </div>

    

    <!-- <footer> -->
    <%- include('partials/footer') %>
    <!-- <footer> -->
    <!-- </scripts bootstrap> -->
    <%- include('partials/scriptsBootstrap') %>
    <!-- </scripts bootstrap> -->

</body>

</html>