<!DOCTYPE html>
<html lang="es">
<%- include('partials/head') %>

<body>
  <%- include('partials/header') %>
  <div class="memes container">

    <!-- Div con barra de buscador y boton-->
    <div class="row">
      <div class="search mb-2 w-100">
        <form class="d-flex align-items-center w-100">
          <input class="form-control mr-2 flex-grow-1" type="search" placeholder="Buscador de memes"
            aria-label="Search">
          <button class="btn btn-warning my-2 my-sm-0" type="submit">Buscar</button>
        </form>
      </div>
    </div>
    <!-- Div con barra de buscador y boton-->

    <!-- Navbar con categorias de memes-->
    <div class="row">
      <div class="d-flex col-12 w-100 m-0 p-0 justify-content-center">
        <nav class="memesNav d-flex justify-content-center w-100 align-items-center flex-wrap">
          <ul class="d-flex flex-wrap justify-content-around w-100 m-0 mb-1 mt-1">
            <li><a class="text-decoration-none" href="#">Populares</a></li>
            <li><a class="text-decoration-none" href="#">Clásicos</a></li>
            <li><a class="text-decoration-none" href="#">Antiguos</a></li>
            <li><a class="text-decoration-none" href="#">Tendencias</a></li>
            <li><a class="text-decoration-none" href="#">Blanco y negro</a></li>
            <li><a class="text-decoration-none" href="#">Otra categoria #1</a></li>
            <li><a class="text-decoration-none" href="#">Otra categoria #2</a></li>
          </ul>
        </nav>
      </div>
    </div>
    <!-- Navbar con categorias de memes-->

    <!-- Selector de memes con desplegable -->
    <div class="row w-100 m-0 mb-4 pt-4 pr-0 pl-0 product-selector">
      <div class="dropdown col-xs-6 col-sm-6 col-md-4 col-lg-2 col-xl-2">
        <a class="dropdown-item" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          <figure class="figure">
            <img src="../images/iconoImagenBordesIguales.png" class="figure-img img-fluid rounded" alt="...">
            <figcaption class="figure-caption">Lorem ipsum dolor sit.</figcaption>
          </figure>
        </a>
        <div class="dropdown-menu long" aria-labelledby="dropdownMenuLink">
          <a class="dropdown-item col-6" href="#"><img src="../images/iconoImagenBordesIguales.png" alt=""></a><a
            class="dropdown-item col-6" href="#"><img src="../images/iconoImagenBordesIguales.png" alt=""></a><a
            class="dropdown-item col-6" href="#"><img src="../images/iconoImagenBordesIguales.png" alt=""></a><a
            class="dropdown-item col-6" href="#"><img src="../images/iconoImagenBordesIguales.png" alt=""></a>
        </div>
      </div>
      <div class="dropdown col-xs-6 col-sm-6 col-md-4 col-lg-2 col-xl-2">
        <a class="dropdown-item" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          <figure class="figure">
            <img src="../images/iconoImagenBordesIguales.png" class="figure-img img-fluid rounded" alt="...">
            <figcaption class="figure-caption">Lorem ipsum dolor sit.</figcaption>
          </figure>
        </a>
        <div class="dropdown-menu long" aria-labelledby="dropdownMenuLink">
          <a class="dropdown-item col-6" href="#"><img src="../images/iconoImagenBordesIguales.png" alt=""></a><a
            class="dropdown-item col-6" href="#"><img src="../images/iconoImagenBordesIguales.png" alt=""></a><a
            class="dropdown-item col-6" href="#"><img src="../images/iconoImagenBordesIguales.png" alt=""></a><a
            class="dropdown-item col-6" href="#"><img src="../images/iconoImagenBordesIguales.png" alt=""></a>
        </div>
      </div>
      <div class="dropdown col-xs-6 col-sm-6 col-md-4 col-lg-2 col-xl-2">
        <a class="dropdown-item" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          <figure class="figure">
            <img src="../images/iconoImagenBordesIguales.png" class="figure-img img-fluid rounded" alt="...">
            <figcaption class="figure-caption">Lorem ipsum dolor sit.</figcaption>
          </figure>
        </a>
        <div class="dropdown-menu long" aria-labelledby="dropdownMenuLink">
          <a class="dropdown-item col-6" href="#"><img src="../images/iconoImagenBordesIguales.png" alt=""></a><a
            class="dropdown-item col-6" href="#"><img src="../images/iconoImagenBordesIguales.png" alt=""></a><a
            class="dropdown-item col-6" href="#"><img src="../images/iconoImagenBordesIguales.png" alt=""></a><a
            class="dropdown-item col-6" href="#"><img src="../images/iconoImagenBordesIguales.png" alt=""></a>
        </div>
      </div>
      <div class="dropdown col-xs-6 col-sm-6 col-md-4 col-lg-2 col-xl-2">
        <a class="dropdown-item" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          <figure class="figure">
            <img src="../images/iconoImagenBordesIguales.png" class="figure-img img-fluid rounded" alt="...">
            <figcaption class="figure-caption">Lorem ipsum dolor sit.</figcaption>
          </figure>
        </a>
        <div class="dropdown-menu dropdown-menu-right long" aria-labelledby="dropdownMenuLink">
          <a class="dropdown-item col-6" href="#"><img src="../images/iconoImagenBordesIguales.png" alt=""></a><a
            class="dropdown-item col-6" href="#"><img src="../images/iconoImagenBordesIguales.png" alt=""></a><a
            class="dropdown-item col-6" href="#"><img src="../images/iconoImagenBordesIguales.png" alt=""></a><a
            class="dropdown-item col-6" href="#"><img src="../images/iconoImagenBordesIguales.png" alt=""></a>
        </div>
      </div>
      <div class="dropdown col-xs-6 col-sm-6 col-md-4 col-lg-2 col-xl-2">
        <a class="dropdown-item" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          <figure class="figure">
            <img src="../images/iconoImagenBordesIguales.png" class="figure-img img-fluid rounded" alt="...">
            <figcaption class="figure-caption">Lorem ipsum dolor sit.</figcaption>
          </figure>
        </a>
        <div class="dropdown-menu dropdown-menu-right long" aria-labelledby="dropdownMenuLink">
          <a class="dropdown-item col-6" href="#"><img src="../images/iconoImagenBordesIguales.png" alt=""></a><a
            class="dropdown-item col-6" href="#"><img src="../images/iconoImagenBordesIguales.png" alt=""></a><a
            class="dropdown-item col-6" href="#"><img src="../images/iconoImagenBordesIguales.png" alt=""></a><a
            class="dropdown-item col-6" href="#"><img src="../images/iconoImagenBordesIguales.png" alt=""></a>
        </div>
      </div>
      <div class="dropdown col-xs-6 col-sm-6 col-md-4 col-lg-2 col-xl-2">
        <a class="dropdown-item" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          <figure class="figure">
            <img src="../images/iconoImagenBordesIguales.png" class="figure-img img-fluid rounded" alt="...">
            <figcaption class="figure-caption">Lorem ipsum dolor sit.</figcaption>
          </figure>
        </a>
        <div class="dropdown-menu dropdown-menu-right long" aria-labelledby="dropdownMenuLink">
          <a class="dropdown-item col-6" href="#"><img src="../images/iconoImagenBordesIguales.png" alt=""></a><a
            class="dropdown-item col-6" href="#"><img src="../images/iconoImagenBordesIguales.png" alt=""></a><a
            class="dropdown-item col-6" href="#"><img src="../images/iconoImagenBordesIguales.png" alt=""></a><a
            class="dropdown-item col-6" href="#"><img src="../images/iconoImagenBordesIguales.png" alt=""></a>
        </div>
      </div>
    </div>
    <!-- Selector de memes con desplegable -->


    <!-- MAIN -->
    <div class="row main">
      <!-- ARRAY MEMES -->
      <div class="arrayMemesExample d-flex flex-column justify-content-start m-0 p-1 col-xs-12 col-sm-12 col-md-3 col-lg-3 col-xl-3">
        <div class="mb-0 w-100 text-center arrayImage">
          <h5>Ejemplos</h5>
          <div class="row mt-1 mb-1">
            <img class="col-4" src="../images/iconoImagenBordesIguales.png" alt="">
            <img class="col-4" src="../images/iconoImagenBordesIguales.png" alt="">
            <img class="col-4" src="../images/iconoImagenBordesIguales.png" alt="">
          </div>
          <div class="row mt-1 mb-1">
            <img class="col-4" src="../images/iconoImagenBordesIguales.png" alt="">
            <img class="col-4" src="../images/iconoImagenBordesIguales.png" alt="">
            <img class="col-4" src="../images/iconoImagenBordesIguales.png" alt="">
          </div>
          <div class="row mt-1 mb-1 thirdPack">
            <img class="col-4" src="../images/iconoImagenBordesIguales.png" alt="">
            <img class="col-4" src="../images/iconoImagenBordesIguales.png" alt="">
            <img class="col-4" src="../images/iconoImagenBordesIguales.png" alt="">
          </div>
          <div class="row mt-1 mb-1 fourthPack">
            <img class="col-4" src="../images/iconoImagenBordesIguales.png" alt="">
            <img class="col-4" src="../images/iconoImagenBordesIguales.png" alt="">
            <img class="col-4" src="../images/iconoImagenBordesIguales.png" alt="">
          </div>
        </div>
      </div>
      <!-- ARRAY MEMES -->

      <!-- MEME EDITOR -->
      <div class="d-flex flex-column justify-content-end memeEditorImage m-0 p-1 col-xs-12 col-sm-12 col-md-5 col-lg-5 col-xl-5">
        <div class="d-flex align-items-center justify-content-between w-100">
          <form class="d-flex justify-content-between w-100" action="">
            <button class="flex-grow-1 text-truncate mt-1 mb-2 mr-1 btn btn-warning btn-sm">Agregar sticker</button>
            <button class="flex-grow-1 text-truncate mt-1 mb-2 btn btn-warning btn-sm">Agregar imagen</button>
            <button class="flex-grow-1 text-truncate mt-1 mb-2 ml-1 btn btn-warning btn-sm">Dibujar</button>
            <button class="flex-grow-1 text-truncate mt-1 mb-2 ml-1  btn btn-warning btn-sm">Rotar</button>
          </form>
        </div>
        <div class="w-100">
          <img class="w-100" src="images/memeParaCompletar.png" alt="">
        </div>
        <div>
          <button class="mt-2 mb-0 btn btn-warning btn-sm btn-block">CARGAR MI PROPIA IMAGEN</button>
        </div>
      </div>
      <!-- MEME EDITOR -->

      <!-- TEXT EDITOR -->
      <div
        class="d-flex flex-column justify-content-between textEditor m-0 p-1 col-xs-12 col-sm-12 col-md-3 col-lg-3 col-xl-3">

        <div
          class="d-flex textInput mb-2 w-100 text-center align-items-center justify-content-end flex-column flex-wrap ">
          <div class="d-flex flex-wrap w-100 mt-2 mb-1">
            <input class="mr-1 flex-grow-1" type="text" placeholder="Text#1" size="1">
            <button class="border border-dark mr-1 btn btn-sm btn-light"></button>
            <button class="border border-dark mr-1 btn btn-sm btn-dark"></button>
            <button class="btn btn-sm btn-warning"><i class="fas fa-cog"></i></button>
          </div>
          <div class="d-flex flex-wrap w-100 mt-1 mb-1">
            <input class="mr-1 flex-grow-1" type="text" placeholder="Text#2" size="1">
            <button class="border border-dark mr-1 btn btn-sm btn-light"></button>
            <button class="border border-dark mr-1 btn btn-sm btn-dark"></button>
            <button class="btn btn-sm btn-warning"><i class="fas fa-cog"></i></button>
          </div>
          <div class="d-flex flex-wrap w-100 mt-1 mb-1">
            <input class="mr-1 flex-grow-1" type="text" placeholder="Text#3" size="1">
            <button class="border border-dark mr-1 btn btn-sm btn-light"></button>
            <button class="border border-dark mr-1 btn btn-sm btn-dark"></button>
            <button class="btn btn-sm btn-warning"><i class="fas fa-cog"></i></button>
          </div>
          <div class="d-flex flex-wrap w-100 mt-1 mb-1">
            <input class="mr-1 flex-grow-1" type="text" placeholder="Text#4" size="1">
            <button class="border border-dark mr-1 btn btn-sm btn-light"></button>
            <button class="border border-dark mr-1 btn btn-sm btn-dark"></button>
            <button class="btn btn-sm btn-warning"><i class="fas fa-cog"></i></button>
          </div>
        </div>
        <div class="textInputButtons d-flex w-100 align-items-center justify-content-end text-center flex-column">
          <div class="d-flex flex-row flex-wrap justify-content-between w-100">
            <button class="btn btn-sm flex-grow-1 btn-warning mt-1 mb-1 mr-1">Agregar otro texto</i></button>
            <button class="btn btn-sm btn-warning mt-1 mb-1 ml-1">Reset</button>
          </div>
          <button class="btn btn-sm btn-warning btn-block mt-1">Agregar a mi biblioteca</button>
        </div>
      </div>
      <!-- TEXT EDITOR -->

      <!-- MEME LIBRARY -->
      <div class="memeLibrary d-flex justify-content-between text-center align-items-center m-0 p-1 col-xs-12 col-sm-12 col-md-1 col-lg-1 col-xl-1">
        <div class="w-100"><h6 class="mb-1 mt-2 p-0">Mi librería</h6></div>
        <img src="../images/iconoImagenBordesIguales.png" alt="">
        <img src="../images/iconoImagenBordesIguales.png" alt="">
        <img src="../images/iconoImagenBordesIguales.png" alt="">
        <img src="../images/iconoImagenBordesIguales.png" alt="">
        <img src="../images/iconoImagenBordesIguales.png" alt="">
      </div>
      <!-- MEME LIBRARY -->

    </div>
    <!-- MAIN -->

    <!-- SUBMIT -->
    <div class="row">
      <a class="w-100 text-decoration-none" href="/products/index">
        <button class="btn btn-warning btn-sm btn-block mt-3" type="submit">Productos</button>
      </a>
    </div>
    <!-- SUBMIT -->
</div>

    <%- include('partials/footer') %>
    <%- include('partials/scriptsBootstrap') %>
</body>

</html>