<!DOCTYPE html>
<html lang="es">
<%- include('partials/head') %>

<body>
    <%- include('partials/header') %>
    <div class="container mainRegister">
        <div class="row">
            <div class="firstColumn">
                <div class="firstBlock">
                    <form action="">
                        <h4>Registrate!</h4>
                        <div>
                            <input type="text" placeholder="Username">
                        </div>
                        <div>
                            <input type="email" placeholder="Email">
                        </div>
                        <div>
                            <input type="password" placeholder="Contraseña">
                        </div>
                        <div>
                            <input type="password" placeholder="Confirmar contraseña">
                        </div>
                    </form>
                    <button class="btn btn-warning mt-3 col-5">SEGUIR CON <i class="fab fa-facebook-square"></i> </button>
                    <button class="btn btn-warning mt-3 col-5">SEGUIR CON <i class="fab fa-google"></i> </button>
                    <img src="/images/captcha.png" alt="">
                    <button class="btn btn-warning mt-3 col-12" type="submit">REGISTRARSE</button>
                    <a href="/"><h6>¿Ya estás registrado?</h6></a>
                </div>
            </div>
        </div>
        
    </div>
    <%- include('partials/footer') %>
    <%- include('partials/scriptsBootstrap') %>
</body>
</html>