<!DOCTYPE html>
<html lang="es">
<%- include('partials/head') %>

<body>
    <%- include('partials/header') %>
    <div class="container mainRegister mt-5">
        <div class="row">
            <div class="containerColumn d-flex flex-wrap align-items-center mt-0 mb-0 m-auto shadow rounded-lg">
                <div class="containerBlock d-flex flex-wrap justify-content-between w-100 m-4">
                    <form class=" d-flex flex-wrap justify-content-between w-100" action="">
                        <h4 class="text-center mt-0 mb-0 m-auto font-weight-bold">Registrate!</h4>
                        <div class="w-100 m-0 p-0">
                            <input class="border border-white rounded-lg flex-grow-1 w-100 mt-3 mb-3 p-2" type="text"
                                placeholder="Username">
                        </div>
                        <div class="w-100 m-0 p-0">
                            <input class="border border-white rounded-lg flex-grow-1 w-100 mt-1 mb-3 p-2" type="email"
                                placeholder="Email">
                        </div>
                        <div class="w-100 m-0 p-0">
                            <input class="border border-white rounded-lg flex-grow-1 w-100 mt-1 mb-3 p-2"
                                type="password" placeholder="Contraseña">
                        </div>
                        <div class="w-100 m-0 p-0">
                            <input class="border border-white rounded-lg flex-grow-1 w-100 mt-1 mb-3 p-2"
                                type="password" placeholder="Confirmar contraseña">
                        </div>
                    </form>
                    <button class="btn btn-warning mt-3 flex-grow-1 col-5">Seguir con <i class="fab fa-facebook-square"></i></button>
                    <button class="btn btn-warning mt-3 flex-grow-1 col-5">Seguir con <i class="fab fa-google"></i></button>
                    <img src="/images/captcha.png" class="rounded-lg w-100 mt-3" alt="">
                    <button class="btn btn-warning mt-3 col-12 font-weight-bold" type="submit">REGISTRARSE</button>
                    <div class="d-flex flex-wrap justify-content-center w-100">
                        <a class="text-center mt-3 text-decoration-none" href="/">
                            <h6 class="text-center m-2">¿Ya estás registrado?</h6>
                        </a>
                    </div>

                </div>
            </div>
        </div>

    </div>
    <%- include('partials/footer') %>
    <%- include('partials/scriptsBootstrap') %>
</body>

</html>